* {
    margin: 0;
    padding: 0;
    font-family: 'Ysabeau Infant', sans-serif;
}
body {
    background: #111C2F;
}
.general {
    background-image: url("src/1489353.jpg");
    height: 400px;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 92.5vw;
    margin: 15px;
    /* position: relative; */
    
}

.date {
    font-size: 40px;
    color: white;
    margin-top: 340px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.37), transparent);
}

.perc {
    font-size: 40px;
    color: white;
    margin-top: 340px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.37), transparent);
} 